body
{
    background-image: url("https://previews.123rf.com/images/copacool/copacool1303/copacool130300686/18802326-background-with-owls-tree-branches-and-flowers.jpg");
    height: 850px;
}
h3
{
  font-size: 25px !important;
}
canvas {
    border:1px solid black;
}
.footer
{
    position: fixed;
    left: 0;
    line-height: 3;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    color: #6c757d;
    text-align: center;
    font-family: 'Special Elite', cursive;
}